<section class="video-banner">
  <video #bannerVideo autoplay muted playsinline preload="auto" class="banner-video" (ended)="onVideoEnd($event)">
    <source src="./assets/Media/Videos/Body/Deitiesvideo1.mp4" type="video/mp4">
  </video>

  <div class="overlay"></div>

  <div class="banner-content">
    <app-flip-btn></app-flip-btn>
  </div>
</section>

<app-artis></app-artis>
<div class="redes">
    <a href="https://www.instagram.com/deities.col/?hl=es" target="_blank">
      <img src="./assets/Media/Img/iconos/ig-logo (1).webp" alt="logo-instagram" width="25px">
    </a>
</div>