.video-banner {
  position: relative;
  width: 100%;
  height: 60vh; /* pantalla completa */
  overflow: hidden;
  background-color: black;
 
}

.banner-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 50%;
  min-height: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 1;
  /* border: red 2px solid */
}

/* Oscurecer un poco el video */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* Texto encima */
.banner-content {
  position: relative;
  z-index: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.banner-content h1 {
  font-size: 4rem;
  letter-spacing: 6px;
}
