<link rel="stylesheet" href="/src/fonst/titulo1.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

<div class="header-container">
    <div class="logo"> 
        <img src="\Media\Img\Logos\logoDS-.webp" alt="Deities Logo" height="40px" />
    </div>
  <div class="title">
    <h1>DEITIES</h1>
  </div>
  <div class="nav-links">
    <app-botones></app-botones>
  </div>
</div>
