<link rel="stylesheet" href="/src/fonst/titulo1.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

<header class="header-container">

  <div class="logo"> 
    <img src="Media/Img/Logos/logoDS-.webp" alt="Deities Logo" height="40" />
  </div>

  <div class="title">
    <h1>DEITIES</h1>
  </div>

  <!-- navegación desktop -->
  <nav class="nav-links desktop">
    <app-botones></app-botones>
  </nav>

  <!-- botón hamburguesa -->
  <app-hamburger
    class="mobile"
    (menuToggle)="toggleMenu($event)">
  </app-hamburger>

</header>

<!-- menú lateral mobile -->
<nav class="mobile-menu" [class.open]="menuOpen">
  <app-botones></app-botones>
</nav>
