<section class="artists-cards">
    <div class="artists-list">
  
      <article class="artist-card-horizontal">
        <div class="artist-img">
          <img src="assets/Media/Img/Artists/artist1.webp" alt="Artist 1">
        </div>
        <div class="artist-info">
          <h3>Dael Santos</h3>
          <p>R&B · Soul · Urbano    </p>
        </div>
      </article>
  
      <article class="artist-card-horizontal">
        <div class="artist-img">
            <img src="Media/Img/perfiles/vimok.webp" alt="Artist 2">
        </div>
        <div class="artist-info">
          <h3>Vimok </h3>
          <p>Productor </p>
        </div>
      </article>
  
      <!-- <article class="artist-card-horizontal">
        <div class="artist-img">
          <img src="assets/Media/Img/Artists/artist3.webp" alt="Artist 3">
        </div>
        <div class="artist-info">
          <h3>Artist Name</h3>
          <p>Ambient · Cinematic</p>
        </div>
      </article> -->
  
    </div>
  </section>
  