<section class="nav-3">
  <nav>
    <a class="item" routerLink="/" fragment="artistas">
      <div data-text="Artistas" class="linktext">Artistas</div>
    </a>
    <a class="item" routerLink="/music">
      <div data-text="Música" class="linktext">Música</div>
    </a>
    <a class="item" routerLink="/nosotros">
      <div data-text="Nosotros" class="linktext">Nosotros</div>
    </a>
    <a class="item" href="">
      <div data-text="Contacto" class="linktext">Contacto</div>
    </a>
  </nav>
</section>