/* =========================
   CONTENEDOR GENERAL DEL NAV
   ========================= */
   .nav-3{
    background: #000000;
    display: flex;
    justify-content: flex-end;
  }
  
  /* =========================
     NAV
     ========================= */
  .nav-3 nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;              /* 🔥 menos espacio entre links */
    white-space: nowrap;   /* evita saltos de línea */
    padding-left: 150px; /* 👈 muévelo */ 
  }
  
  /* =========================
     ITEM
     ========================= */
  .nav-3 .item{
    position: relative;
    display: inline-flex;
    padding: 6px 0;        /* más compacto */
    text-decoration: none;
    cursor: pointer;
    
  }
  
  /* =========================
     TEXTO
     ========================= */
  .nav-3 .linktext{
    font-size: 0.60em;     /* ligeramente más pequeño */
    color: #ffffff;
    font-family: 'Righteous', Arial, sans-serif;
    text-transform: uppercase;
    position: relative;
    transition: color 0.3s ease-in-out;
    z-index: 2;
    
  }
  
  /* =========================
     TEXTO DUPLICADO (HOVER)
     ========================= */
  .nav-3 .linktext::before{
    content: attr(data-text);
    position: absolute;
    inset: 0;
    color: #988229;
    overflow: hidden;
    max-width: 0%;
    white-space: nowrap;
    transition: max-width 0.3s ease-in-out;
    z-index: 1;
  }

 
  
  
  /* =========================
     HOVER
     ========================= */
  .nav-3 .item:hover .linktext::before{
    max-width: 100%;
  }

  
  @media (max-width: 768px){
    .nav-3{
      justify-content: center;
    }
  
    .nav-3 nav{
      gap: 16px;
      flex-wrap: wrap;
    }
  }
  